<!DOCTYPE html PUBLIC '-//W3C//DTD XHTML 1.0 Strict//EN' 'http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd'>
html(xmlns='http://www.w3.org/1999/xhtml')
head
  meta(http-equiv='Content-Type' content='text/html; charset=utf-8')
  meta(name='viewport' content='width=device-width')

  link(rel='stylesheet' href='../assets/css/styles.css' inline)


body
  table.body
    tr
      td
        center
          container.header
            spacer(size='10')

            row
              columns.header__col-1(small='6' large='6')
                include /assets/img/logo.svg

              columns.header__col-2(small='6' large='6')
                row.collapse
                  columns(large='12')
                    a.header-phone(href='tel:88005006234') 8 800 500-62-34
                row.collapse
                  columns.header__txt(large='12') Бесплатный звонок по&nbsp;РФ

            spacer(size='10')


          container.main.bg-blue
            spacer(size='60')

            row
              columns(large='12')
                h1.main__title Добрый день, имя отчество.

                spacer(size='20')

                p.txt Вы&nbsp;успешно зарегистрировались на&nbsp;партнерском портале <a href='https://fakel-business.ru/'>fakel-business.ru</a>. Это позволит Вам без собственных финансовых вложений зарабатывать, используя взаимоотношения с&nbsp;Вашими корпоративными клиентами, инвестируя только свое время. При продаже товара от&nbsp;имени &laquo;Факел-спецодежда&raquo; по&nbsp;цене сайта <a href='https://www.f-tk.ru/'>f-tk.ru</a>, Вы&nbsp;заработаете порядка&nbsp;20% от&nbsp;суммы заказа. При этом мы&nbsp;не&nbsp;ограничиваем Вашу наценку и&nbsp;готовы организовать всю техническую работу.


            spacer(size='30')


            row.how-it-works
              columns(small='6' large='12')
                h2.how-it-works__title Узнайте, как это работает за&nbsp;7&nbsp;минут
                spacer(size='20')
                a.btn.text-center(href='https://www.youtube.com/watch?v=9SHXRD7S1wc' target='_blank') Посмотреть видео

            spacer(size='20')


          container.contacts.bg-white
            spacer(size='30')

            row
              columns(small='6' large='12')
                h2.contacts__title Наши контакты

                spacer(size='20')

                ul.contacts-list
                  li.txt.txt--black Для ознакомления с&nbsp;каталогом и&nbsp;оптовыми ценами на&nbsp;товар используйте портал <a href='https://fakel-business.ru/'>fakel-business.ru</a>.
                  spacer(size='16')

                  li.txt.txt--black Ваши клиенты могут ознакомиться с&nbsp;каталогом и&nbsp;товаром по&nbsp;цене без скидок на&nbsp;<a href='https://www.f-tk.ru/'>f-tk.ru</a>
                  spacer(size='16')

                  li.txt.txt--black Для связи с&nbsp;командой партнерского проекта используйте адрес <a href='https://www.f-tk.ru/'>partner@f-tk.ru</a> и&nbsp;телефоны: <a href='tel:88005005234'>+7 800-500-52-34</a>, <a href='tel:84951204626'>+7 495-120-26-46</a>
                  spacer(size='16')

                  li.txt.txt--black Менеджеры по&nbsp;сопровождению сделок доб.&nbsp;<a href='tel:84951204626,154'>154</a>
                  spacer(size='16')

                  li.txt.txt--black Менеджеры по&nbsp;поддержке продаж доб.&nbsp;<a href='tel:84951204626,230'>230</a>, моб. (включая WhatsApp) <a href='tel:89663040774'>+7 966-304-07-74</a>
                  spacer(size='16')

                  li.txt.txt--black Руководитель проекта доб.&nbsp;<a href='tel:84951204626,366'>366</a>, моб. (включая WhatsApp) <a href='tel:89663040773'>+7 966-304-07-73</a>

            spacer(size='20')
